<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hannahxian.mutedoor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/door"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/door"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NintyActivity" />
        <activity android:name=".ui.EityThreeActivity" />
        <activity android:name=".ui.EityFiveActivity" />
        <activity android:name=".ui.TwentyFiveJGWActivity" />
        <activity android:name=".ui.ThirtyJGWActivity"></activity>
    </application>

</manifest>